<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Magic Meal</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Page 1</a></li>
        </ul>
    </div>
</nav>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>{{ title }}</h1>
        <div class="row">
            <div class="col-md-4"><p>Budget: </p></div>
            <div class="col-md-4">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
                        <div class="input-group-addon">.00</div>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Number of Meals: </p>
            </div> 
            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-danger btn-number" type="button">-</button>
                    </span>
                    <input class="form-control input-number" type="text" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-success btn-number" type="button">+</button>
                    </span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Allergies: </p>
            </div>
            <div class="col-md-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value=""> Allergy 1
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value=""> Allergy 2
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value=""> Allergy 3
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value=""> Allergy 4
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>Meals: </p>
            </div> 
            <div class="col-md-4">
                <div class="input-group stylish-input-group">
                    <input class="form-control" placeholder="Search" type="text" #newMeal>
                    <span class="input-group-btn">
                        <button class="btn btn-default" (click)="addMeal(newMeal.v)">Search</button>
                    </span>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
        <div class="row"> <!-- put all the preferred meals here -->
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <th>#</th>
                        <th>Meal Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Bolognese Pasta</td>
                        <td><button class="btn btn-danger">Delete</button></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Fried Rice</td>
                        <td><button class="btn btn-danger" (click)="addRandomMeal();">Delete</button></td>
                    </tr>
                </table>
                <!--<img src="https://www.recipetineats.com/wp-content/uploads/2017/05/Bacon-Tomato-Pasta-3.jpg" class="img-responsive">-->
            </div>
            <div class="col-md-4">
            </div>
            
        </div>
        <div class="row"> <!-- put all the search results here -->
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <th>Meal Name</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Stir Fry</td>
                        <td><button class="btn btn-success">Add</button></td>
                    </tr>
                    <tr>
                        <td>Fried Chicken</td>
                        <td><button class="btn btn-success">Add</button></td>
                    </tr>
                    <!--<app-meal-item *ngFor="let meal of meals" [meal]="meal.name"></app-meal-item>-->
                </table>
            </div>
            <div class="col-md-4"></div>
        </div>
        <p><button type="button" class="btn btn-info btn-lg">Generate Meal Plan!</button></p>
    </div>
</div>
